.jss11 {
    max-width: 660px;
}

#nft-otl {
    color: white;
    font-size: 9rem;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.jss20 {
    font-size: 96px;
    font-family: caliSemiBold;
    margin: 0px 10px 20px 0px;
    line-height: .9;
}

.jss17 {
    margin-top: 20px;
}

.jss47 {
    font-size: 18px;
}

@media (min-width: 1280px) {
    .MuiGrid-grid-lg-7 {
        flex-grow: 0;
        max-width: 47.333333%;
        flex-basis: 58.333333%;
        margin: auto 0px;
    }

    .jss43 {
        width: 650px;
        height: 650px;
    }
}

.jss21 {
    margin-left: 10px;
    width: 20px;
    height: 20px;
}

.jss43 {
    width: 450px;
    height: 450px;
}


.MuiTypography-body1 {
    font-size: 1rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.25;
    letter-spacing: 0.00938em;
}

.jss27 {
    background: #fff !important;
    margin-top: 10px;
    // box-shadow: 2px 2px 8px -1px rgba(0 0 0 10%);
}


@media (min-width: 1280px) {
    .MuiGrid-grid-lg-6 {
        flex-grow: 0;
        width: 50%;
        flex-basis: 50%;
        max-width: 600px;
        margin: auto 0px;
    }


    .jss17 {
        margin-top: 1em;
    }

    .jss29 {
        font-size: 1.5em;
        margin-bottom: 0.5em;
    }

    .jss5 {
        padding: 15em 5em;
        margin-top: 80px;
        justify-content: center;
    }
}

@media (min-width: 1280px) {
    .MuiGrid-grid-lg-4 {
        flex-grow: 0;
        width: 50%;
        flex-basis: 50%;
        max-width: 600px;
        margin: auto 0px;
    }

    .jss35 {
        font-size: 13px;
        font-weight: 700;
        font-family: ppformula;
    }
}

.jss32 {
    font-size: 7em;
    text-align: center;
    font-family: ppformula;
    font-weight: 100;
    margin-top: 35px;
}

.jss34 {
    color: #FF6363;
    width: 145px;
    border: 1px solid #FF6363;
    font-size: 1rem;
    margin-left: 1em;
}

.landing-main {
    ::-webkit-scrollbar {
        width: 3px;
        height: 5px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: transparent;
        box-shadow: inset 0 0 5px #FF6363;
        border-radius: 4px;
        border-left: .5px solid transparent;
        border-right: .5px solid transparent;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: rgba($color: #000000, $alpha: 0.14);
        border-radius: 4px;

    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}